@import '../../styles/variables';

.variations{
	&__item{
		display: flex;
		align-items: center;
		gap: 1.4rem;
		font: $small-text;
		font-size: 1.3rem;
	}

	&__color{
		width: 24px;
		height: 24px;
		border-radius: 50%;
		border: 1px solid #ccc;
	}
}