// .gallery{
// 	.swiper-slide{
// 		width: auto !important;
// 	}
// }

.gallery {
	position: relative;
	width: 100%;
	max-width: 600px;
	margin: auto;
}

.swiper-button-prev,
.swiper-button-next {
	color: #000;
	opacity: 0.4;
	transition: opacity 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  	opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
	width: 40px;
	height: 40px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	background: rgba(255,255,255,0.6);
}
