@import '../../styles/variables';

.header{

	&__top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 4rem;
		border-bottom: 1px solid #dbdbdb;


		& .features{
			font: $small-text;
			flex: 0 0 calc(100% / 4);
		}

		& .actions{
			flex: 1 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;

			&__list{
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 3rem;
			}
		}

		& .lang{
			flex: 0 0 calc(100% / 4);
			&__list{
				display: flex;
				justify-content: flex-end;
				align-items: center;
				gap: 1rem;
			}

			&__item{

				&.active{
					color: $color-secondary;
				}

			}
		}

		
	}

	&__middle{
		margin-top: 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}

	.search{
		&__form{
			display: none;
			position: absolute;
			left: 150%;
			&.active{
				display: flex;
			}
		}
		&__input{
			font: $product-desc;
			border: #dbdbdb solid 1px;
			padding: .5rem 1.5rem;
			border-radius: 5px;
			border-left: none;
		}

		&__popup{
			display: none;
			position: absolute;
			top: 140%;
			left: -30%;
			&.active{
				display: block;
			}
		}
	}

	&__search{
		position: relative;
		display: flex;
		align-items: center;
		gap: 2rem;
	}

	

}






