@import '../../styles/variables';

.header{

	&__top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 4rem;
		border-bottom: 1px solid #dbdbdb;


		& .features{
			font: $small-text;
			flex: 0 0 calc(100% / 4);
		}

		& .actions{
			flex: 1 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;

			&__list{
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 3rem;
			}
		}

		& .lang{
			flex: 0 0 calc(100% / 4);
			&__list{
				display: flex;
				justify-content: flex-end;
				align-items: center;
				gap: 1rem;
			}

			&__item{

				&.active{
					color: $color-secondary;
				}

			}
		}
	}

	&__middle{
		margin-top: 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__bottom{
		margin-top: 4rem;
		display: flex;
		align-items: center;
	}

	&__nav{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 2rem;
		position: relative;
		height: 4rem;
		margin: 0 auto;
		.nav__item{
			font: $fw-bold 1.5rem/120% $main-ff;
		}
	}
	
	&__burger{
		cursor: pointer;
	}
}






