@import '../../styles/variables';

.product__item{
	flex: 0 0 calc(20% - 16px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	// gap: 2rem;
	.product__image{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 352px;
		width: 100%;
		padding: 40px 32px;
		& img{
			width: 100%;
			height: 100%;
			object-fit: contain;		
		}
		&::after{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: .02;
			background: #000;
			pointer-events: none;
		}
	}
	
	.product__title{
		font: $product-name;
		margin-top: 2rem;
	}

	.product__category{
		font:$product-desc;
		color: $color-secondary;
		margin-top: .7rem;
		flex: 1;
	}

	.product__price{
		margin-top: 2rem;
		font: $price;
		&_new{
			color: $color-extra;
		}
		&_old{
			font: $price-old;
			text-decoration: line-through;
			margin-left: 2rem;
		}
	}
}
