@import '../../styles/variables';

.products{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 2rem;
	// padding: 0;
	li{
		margin-top: 4rem;
	}
	&__info{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 10rem;
		font: $product-name;
		color: #929292;
	}
}