@import url('../../../../styles/_variables.scss');

.search{
	margin-top: 4rem;
	&__box{
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	&__wrapper{
		display: flex;
		flex-direction: column;
		gap: 1rem;
		ul{
			display: flex;
			flex-direction: column;
			gap: .5rem;
			a{
				text-transform: capitalize;
				transition: all .4s;
				&:hover{
					opacity: .7;
				}	
			}
			
		}
	}
}