@import '../../styles/variables';

.banner{
	
	.slider{
		width: 100%;
		height: 460px;
		position: relative;
		.slide{
			width: 100%;
			height: 100%;
		}
		:global(.swiper-button-prev),
		:global(.swiper-button-next) {
			opacity: 0;
			background-color: rgba(255, 255, 255, 0.7);
			color: $color-primary;
			padding: 1.3rem;
			transition: all 0.4s ease;
			&:hover{
				background-color: rgba(255, 255, 255, 1);
			}
		}
		:global(.swiper-button-prev){
			margin-left: 1.5rem;
		}
		:global(.swiper-button-next){
			margin-right: 1.5rem;
		}

		&:hover {
			:global(.swiper-button-prev),
			:global(.swiper-button-next) {
				opacity: 1;
			}
		}
		
	}
}