@keyframes shimmer {
	0% {
		background-position: -200% 0;
	}
	100% {
		background-position: 200% 0;
	}
}

.animate-slide-in-left {
	opacity: 0;
	transform: translateX(-20px); /* старт слева */
	animation: slideIn 0.5s forwards; /* анимация 0.5s */
}

@keyframes slideIn {
	to {
		opacity: 1;
		transform: translateX(0); /* встаёт на место */
	}
}