@font-face {
	font-family: 'Fixel';
	src: url('../../public/fonts/FixelVariable.ttf') format('ttf-variations'),
		url('../../public/fonts/FixelVariable.ttf') format('ttf');
	font-weight: 100 900; // диапазон весов
	font-style: normal;
	font-display: swap;
}