@import './reset';
@import './animations';
@import './container';
@import './fonts';
@import './variables';
@import './mixins';



body{
	color: $color-primary;
	font: $small-text;
}

html{
	font-size: 10px;
}

.section_padd{
	padding: 5rem 0;
}

.link{
	cursor: pointer;
	transition: all .3s;
	&:hover{
		color: #5b24c9;
	}
	&-extra{
		color: $color-extra;
	}

	&-icon{
		transition: all .3s;
		cursor: pointer;
		display: inline-block;
		&:hover{
			opacity: .5;
		}
	}
}


.search{
	&__form{
		display: none;

		&.active{
			display: flex;
		}
	}
}


.input{
	font-size: $small-text;
	border-bottom: 1px solid #212121;
	padding: 10px 110px 10px 0;
	width: 416px;
	&::placeholder {
		color: #fafafa;
		opacity: 1;
	}
	&:focus ~ label, &:not(:placeholder-shown) ~ label{
		top: -12px;
		font-size: 12px;
		color: #b4b4b4;
	}
}

.title{
	color: $color-primary;
	font: $title-h3;
	margin-bottom: 4rem;
}


