@import './reset';
@import './animations';
@import './container';
@import './fonts';
@import './variables';
@import './mixins';



body{
	color: $color-primary;
	font: $small-text;
}

html{
	font-size: 10px;
}

strong{
	font-weight: 600;
}

.section_padd{
	padding: 5rem 0;
}

.link{
	cursor: pointer;
	transition: all .3s;
	&:hover{
		color: #5b24c9;
	}
	&-extra{
		color: $color-extra;
	}

	&-icon{
		transition: all .3s;
		cursor: pointer;
		display: inline-block;
		&:hover{
			opacity: .5;
		}
	}
}





.input{
	font-size: $small-text;
	border-bottom: 1px solid #212121;
	padding: 10px 110px 10px 0;
	width: 416px;
	&::placeholder {
		color: #fafafa;
		opacity: 1;
	}
	&:focus ~ label, &:not(:placeholder-shown) ~ label{
		top: -12px;
		font-size: 12px;
		color: #b4b4b4;
	}
}

.title{
	color: $color-primary;
	font: $title-h3;
	margin-bottom: 4rem;
}






.sk-circle {
	width: 60px;
	height: 60px;
	position: relative;
}
.sk-circle .sk-child {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.sk-circle .sk-child:before {
	content: '';
	display: block;
	margin: 0 auto;
	width: 15%;
	height: 15%;
	background-color: #333;
	border-radius: 100%;
	animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 { transform: rotate(30deg); }
.sk-circle .sk-circle3 { transform: rotate(60deg); }
.sk-circle .sk-circle4 { transform: rotate(90deg); }
.sk-circle .sk-circle5 { transform: rotate(120deg); }
.sk-circle .sk-circle6 { transform: rotate(150deg); }
.sk-circle .sk-circle7 { transform: rotate(180deg); }
.sk-circle .sk-circle8 { transform: rotate(210deg); }
.sk-circle .sk-circle9 { transform: rotate(240deg); }
.sk-circle .sk-circle10 { transform: rotate(270deg); }
.sk-circle .sk-circle11 { transform: rotate(300deg); }
.sk-circle .sk-circle12 { transform: rotate(330deg); }
.sk-circle .sk-circle2:before { animation-delay: -1.1s; }
.sk-circle .sk-circle3:before { animation-delay: -1s; }
.sk-circle .sk-circle4:before { animation-delay: -0.9s; }
.sk-circle .sk-circle5:before { animation-delay: -0.8s; }
.sk-circle .sk-circle6:before { animation-delay: -0.7s; }
.sk-circle .sk-circle7:before { animation-delay: -0.6s; }
.sk-circle .sk-circle8:before { animation-delay: -0.5s; }
.sk-circle .sk-circle9:before { animation-delay: -0.4s; }
.sk-circle .sk-circle10:before { animation-delay: -0.3s; }
.sk-circle .sk-circle11:before { animation-delay: -0.2s; }
.sk-circle .sk-circle12:before { animation-delay: -0.1s; }

@keyframes sk-circleBounceDelay {
	0%, 80%, 100% { transform: scale(0); }
	40% { transform: scale(1); }
}
