.modalOverlay {
	position: fixed;
	inset: 0;
	background: rgba(0,0,0,0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}
.modalContent {
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	width: 300px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.button {
	margin-top: 15px;
	padding: 8px 16px;
	border: none;
	background: #000;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}
