@import '../../styles/variables';

.info{
	border: 1px solid #ebebeb;
	padding: 2rem 4rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	min-width: 30vw;
	max-height: 740px;
	&__top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		font: $price;
	}
	&__desc{
		font: $title-h4;
		font-size: 2rem;
	}
	&__middle{
		padding: 3rem 3rem 3rem 0;
		border-top: 1px solid #e1e1e1;
		// border-bottom: 1px solid #e1e1e1;
		display: flex;
		flex-direction: column;
		max-height: 490px;
		overflow-y: scroll;
	}
	&__product{
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #e1e1e1;
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	&__box{
		display: flex;
		flex-direction: column;
		gap: 1rem;
		flex: 1;
	}
	&__title{
		font: $brand-name;
	}
	&__category{
		font: $product-desc;
		color: #979797;
	}
	&__variation{
		display: flex;
		gap: 1rem;
		span{
			width: 20px;
			height: 20px;
			border-radius: 100%;
			border: 1px solid #000000;
		}
	}
	&__things{
		display: flex;
		align-items: center;
		gap: 2rem;
		margin-top: 2rem;
		font: $product-desc;
	}
	&__minus, &__plus{
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #979797;
		padding: .2rem;
		cursor: pointer;
		transition: all .4s;
		&:hover{
			opacity: .6;
		}
	}
	&__delete{
		align-self: flex-end;
	}
	&__bottom{
		display: flex;
		justify-content: space-between;
		padding: 2rem 0;
	}
	&__desc{
		font: $title-h4;
	}
	&__sum{
		font: $brand-name;
		font-size: 2rem;
	}
}